<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h1>Hello Word</h1>
    <div>
        <h3>Seja Bem vindo ao Finanças!</h3>
        <button onclick="window.location.href='http://127.0.0.1:5000/login'">login</button>
        <form method="POST" action= "/autenticado"> 
            <p><label>Usuario: </label><input type="text" name = "usuario" required> <input></p>
            <p><label>Senha:</label> <input  type="password" name="senha" required></p>
            <p><button class="btn btn-primary" type="submit">signup</button></p>
        </form>
    

</head>
<body>
    
    
</body>
</html>